
@using PacificFencing.Site.Components
@model PacificFencing.Core.RequestAQuoteModel

@{
    ViewBag.Title = "Request A Quote";

}


<h1>Request A Quote </h1>
<div class="container">

    <div class="row">
        <div class="col-lg-8">
            <div class="well" id="registration">
                <fieldset>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        @Html.ValidationSummary()
                        <form class="form-horizontal">
                            <fieldset>


                                <div class="form-group">

                                    @Html.LabelFor(m => m.ContactName, "Contact Name *", new { @class = "col-lg-3 control-label" })

                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", placeholder = "Contact Name" })
                                        @Html.ValidationMessageFor(m => m.ContactName)
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(m => m.AddressLine, "AddressLine", new { @class = "col-lg-3 control-label" })
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.AddressLine, new { @class = "form-control", placeholder = "Street Address" })
                                        @Html.ValidationMessageFor(m => m.AddressLine)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.City, "City", new { @class = "col-lg-3 control-label" })
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City" })
                                        @Html.ValidationMessageFor(m => m.City)
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(m => m.State, "State", new { @class = "col-lg-3 control-label" })
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.State, StateHelper.States, new { @class = "form-control" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, "Email", new { @class = "col-lg-3 control-label" })
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ZipCode, "ZipCode", new { @class = "col-lg-3 control-label" })
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", placeholder = "XXXXX" })
                                        @Html.ValidationMessageFor(m => m.ZipCode)
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(m => m.Description, "Description", new { @class = "col-lg-3 control-label" })
                                    <div class="col-lg-9">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "", rows = "15" })
                                        @Html.ValidationMessageFor(m => m.Description)
                                    </div>
                                </div>


                                <div class="form-group ">
                                    <div class="col-lg-12" id="submit-bar">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    }
                </fieldset>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>



</div>